.ticketheader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.d-flex{
    margin: 8px;
}

.s_new{
    color: white !important;
    background-color: blue !important ;
}

.s_assigned{
    color: black !important;
    background-color: bisque !important;
}

.s_resolved{
    color: white !important;
    background-color: green !important;
}

.s_inprogress{
    color: white !important;
    background-color: red !important;
}