.st_green{
    color: white;
    background-color: rgb(1, 171, 1) !important;
}
.st_red{
    color: white;
    background-color: rgb(255, 0, 0) !important;
}
.st_blue{
    color: white;
    background-color: rgb(49, 103, 251) !important;
}

.header2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.d-flex{
    width: 30%;
}

.pagination{
    justify-content: center;
    width: 100%;
}.table-parent{
    width: 100%;
}